.cabeçalho{
    background-color: #689AC9;
    margin: 0px;
    height: 100px;
}
.corpo{
    background-color: ;
    width: 1363px;
    height: 1000px;
    margin: 0px;
    padding: 20px;
}
.menu
{    
    height: 70px;
    background-color: #689AC9;

}
