.cabeçalho{
    background-color: #689AC9;
    margin: 0px;
    height: 100px;
}
.corpo{
    background-color: #D9D9D9;
    width: 1363px;
    height: 800px;
    margin: 0px;
    padding: 20px;
}
.menu
{    
    height: 70px;
    background-color: #90bde5;
    margin: 0px;

}
footer{
    height: 100px;
    background-color: #689AC9;
}
.fotoaero{
    height: 350px;
    width: 300px;
    background-color: black;
}